ffmpeg
TTS
googletrans>=4.0.0-rc1
whisper
mtcnn
dlib
pipx
numba>=0.55.0
librosa>=0.8.0
ffmpeg-python
torch
torchvision
torchaudio
opencv-python
openai-whisper
transformers
tqdm
facenet-pytorch